/* Imports */

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

/* Variables */

$small-screen: 48em !default;
$medium-screen: 62em !default;
$large-screen: 75em !default;

$font-family: "Raleway", sans-serif;
$font-family-numbers: "Josefin Sans", sans-serif;
$font-size-base: 1em !default;
$font-size-h1: 2rem !default;
$font-weight-strong: 600;

$text-color: #fff !default;
$bg-color: rgba(43, 45, 47, 1);
$primary-color: #f707ff;
$primary-color-2: #b000b6;

