---
layout: default
---
<h1><strong>Contact Me</strong></h1>
<hr>
<div class="contact">
<form action="https://formspree.io/f/mqkvqbjk" method="POST">
    <div class="name">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
    </div>
    <div class="email">
        <label for="email">Email</label>
        <input type="text" name="_replyto" id="email" />
    </div>
    <div class="message">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="6"></textarea>
    </div>
    <div class="actions">
        <div class="button">
            <span class="right-arrow">&#x2192;</span>
            <input type="submit" value="Send Message" class="button"/>
            <span class="left-arrow">&#x2190;</span>
        </div>
        <div class="button">
            <span class="right-arrow">&#x2192;</span>
            <input type="reset" value="Clear" class="button"/>
            <span class="left-arrow">&#x2190;</span>
        </div>
    </div>
</form>
</div>